html,
body {
  height: 100%;
}

body {
  background-color: #F9FAFF;
  font-size: 20px;
  line-height: 1.3;
  color: $darkblue;
  font-family: Rubik;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: $dark;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 45px;
}

.text {
  text-align: center;
  line-height: 1.5;
  color: $dark;
  opacity: 0.9;
}

.section {
  padding: 60px 0;
}

.btn {
  padding: 7px 16px;
  background-color: $orange;
  color: $bg;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s, fill 0.5s;

  &:focus {
    color: $orange;
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px $bs;

    path {
      fill: $orange;
    }
  }

  &:hover {
    color: $orange;
    background-color: $bgc;
    box-shadow: 0 5px 12px $bs-2, 0 0 0 2px $bs;

    path {
      fill: $orange;
    }
  }

  &:active {
    color: $orange;
    background-color: #ff7a501a;
    border-color: $default;

    path {
      fill: $orange;
    }
  }
}

.button {
  padding: 22px 32px;
  border-radius: 5px;
  background-color: $bg;
  box-shadow: 0 0 0 1px $silver-200;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;

  &:focus {
    box-shadow: 0 0 0 2px $bs;
  }

  &:hover {
    color: $orange;
    background-color: $bgc;
    box-shadow: 0 0 0 2px $bs;

    path {
      fill: $orange;
    }
  }

  &:active {
    box-shadow: inset 0 -5px 12px $bs-2;
  }
}

.link {
  line-height: 1.5;
  text-decoration: underline;
  color: $darkblue;
  border-radius: 5px;
  transition: box-shadow 0.5s, text-shadow 0.5s, color 0.5s;

  &:focus {
    border-color: $orange;
    box-shadow: 0 0 0 2px $bs;
    text-decoration: none;

    path {
      fill: $orange;
    }
  }

  &:hover {
    color: $orange;
    text-decoration: none;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    text-decoration: none;
  }
}

.icon-seach {
  width: 20px;
  height: 20px;
  background-image: url('../images/sprite.svg#icon-search'); // иконка из спрайта
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  fill: #fff;
  stroke: #000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}