@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

// Использование миксина 
// .class {
//   font-size: 14px;
//   @include line-clamp(3);
// }

@mixin pseudo($display: block, $pos: absolute, $content: '', $bgr: no-repeat, $bgp: center center, $bgz: cover) {
  content: $content;
  display: $display;
  position: $pos;
  background-repeat: $bgr;
  background-position: $bgp;
  background-size: $bgz;
}

// Использование миксина без аргументов
// .class::after {
//   @include pseudo;
//   width: 30px;
//   height: 30px;
// }

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==min {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Использование миксина 
// .header {
//   padding: 20px;
//   @include mq('tablet') {
//     padding: 15px;
//   }
// }

@mixin burger {
  // width: $burgerWidth; //указываем ширину линий
  // height: $burgerHeight; //указываем высоту линий
  position: relative;
  color: $darkblue; //указываем цвет линий

  &__line {
    position: absolute;
    left: 7px;
    top: 20px;
    width: 30px;
    display: block;
    height: 2px;
    border: 1px solid $darkblue;
    background-color: $bg;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 7px;
    width: 30px;
    height: 2px;
    background-color: $darkblue;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 10px;
  }

  &::after {
    top: 30px;
  }

  &--active {
    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
  }
}

