@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

// Использование миксина 
// .class {
//   font-size: 14px;
//   @include line-clamp(3);
// }

@mixin pseudo($display: block, $pos: absolute, $content: '', $bgr: no-repeat, $bgp: center center, $bgz: cover) {
  content: $content;
  display: $display;
  position: $pos;
  background-repeat: $bgr;
  background-position: $bgp;
  background-size: $bgz;
}

// Использование миксина без аргументов
// .class::after {
//   @include pseudo;
//   width: 30px;
//   height: 30px;
// }

$breakpoints: ("phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==min {
      $width: $width + 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Использование миксина 
// .header {
//   padding: 20px;

//   @include mq('tablet') {
//     padding: 15px;
//   }
// }