$dark: #31352b;
$darkblue: #363853;
$gray: #c2c2c2;
$silver-200: #ececec;
$silver-100: #f9faff;
$orange: #ff6838;
$bg: #fff;
$default: transparent;

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}