@import 'fonts';
@import 'reset';
@import 'vars';
@import 'libs';
@import 'mixin';
@import 'global';

.header {
  padding-bottom: 60px;

  &__top {
    padding: 50px 3px 45px 5px;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.5s;

    @include mq('tablet-2') {
      padding: 14px 0;
    }

    @include mq('phone-1') {
      margin: 0 0 25px 0;
    }

    &--bg {
      background-color: $bgp;
      padding: 5px 0;
    }
  }

  @include mq('tablet-2') {
    padding-bottom: 67px;
  }

  &__logo {
    margin-right: auto;
  }

  @include mq('tablet-2') {
    padding-bottom: 40px;
  }
}

.logo {
  border-radius: 5px;
  height: 39px;
  width: 200px;
  transition: box-shadow 0.5s, opacity 0.5s;
  object-fit: cover;

  &:focus {
    box-shadow: 0 0 0 2px $bs;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @include mq('phone') {
    height: 23px;
  }

  &__img {
    @include mq('phone') {
      width: 115px;
      height: 23px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
  }
}

.burger {
  display: none;
  @include burger;
  height: 44px;
  width: 44px;
  z-index: 1;
  border-radius: 5px;

  &:hover {
    background-color: $bgo;
  }

  @include mq('tablet') {
    display: block;

    &:active {
      background-color: $bgo;
    }
  }
}

.menu-list {
  display: flex;
  font-size: 18px;
  line-height: 1.2;
  margin-right: 45px;

  @include mq('tablet') {
    // transform: translateX(-300%);
    display: none;
  }

  &__item {
    padding: 10px 0;



    &:not(:last-child) {
      margin-right: 45px;

      @include mq('tablet') {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-decoration: none;

    &:not(:last-child) {
      @include mq('tablet') {
        margin-bottom: 20px;
      }
    }

    &--active {
      color: $orange;
    }
  }

  // @include mq('tablet') {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   background-color: $bg;
  //   flex-direction: column;
  //   align-items: end;
  //   transform: translateX(-200%);
  //   transition: transform 0.5s;
  //   height: 717px;
  //   width: 300px;
  //   overflow-y: auto;
  //   padding: 90px 0 90px;
  //   margin-right: 0;
  //   z-index: 0;
  // }
}

.menu-btn {
  display: flex;

  @include mq('tablet') {
    margin-right: 9px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin: 0 6px;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;

    svg {
      fill: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &:focus {
      background-color: $bgo;
      box-shadow: 0 0 0 2px $bs;

      svg {
        fill: $bgo;
      }
    }

    &:hover {
      background-color: $orange-2;

      svg {
        stroke: $bg;
        fill: $orange-2;
      }

      span {
        background-color: $bg;
        color: $orange-2;
      }
    }

    &:active {
      background-color: #FFF2ED;

      svg {
        fill: #fff2ed;
      }
    }
  }

  &__btn-prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 2px 4px;
    background-color: $orange;
    color: $bg;
    font-size: 10px;
    line-height: 1.2;
    height: 14px;
    border-radius: 50%;
  }
}

.header-content {
  padding-top: 142px;

  @include mq('tablet-2') {
    padding-top: 95px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 660px;

    @include mq('phone') {
      height: 250px;
      padding: 25px 0;
    }
  }

  &__info {
    max-width: 450px;

    @include mq('tablet-2') {
      z-index: 1;
      position: relative;

    }
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 20px;

    span {
      color: $orange;
      display: block;
    }

    @include mq('phone') {
      font-size: 40px;
    }
  }

  &__text {
    line-height: 1.5;
    color: $dark;
    margin-bottom: 20px;
    @include line-clamp(5);

    @include mq('phone') {
      font-size: 16px;
      width: 100%;
    }
  }

  &__btn {
    margin-right: 24px;
    padding: 12px 32px;

    @include mq('phone') {
      margin-right: 30px;
      padding: 8px 24px;
    }
  }

  &__img {
    width: 560px;
    height: 660px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    z-index: -1;

    @include mq('tablet-2') {
      background-size: contain;
      position: absolute;
      right: 0;
      opacity: 0.3;
    }

    @include mq('tablet') {
      height: 75%;
    }

    @include mq('phone') {
      height: 300px;
    }
  }
}

.categories {
  padding-top: 66px;
  text-align: center;

  @include mq('tablet-2') {
    padding-top: 27px;
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 61px;

    @include mq('tablet-2') {
      margin-bottom: 30px;
    }
  }

  &__filter {
    display: flex;
    white-space: nowrap;
    margin-bottom: 45px;
    overflow-x: auto;
    padding-bottom: 15px;

    @include mq('tablet-2') {
      margin-bottom: 3px;
      padding-bottom: 3px;
    }
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 21px;

      @include mq('desktop') {
        margin-right: 10px;
      }
    }
  }

  &__btn-link {
    padding: 12px 30px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;

      @include mq('tablet') {
        margin-right: 5px;
      }
    }

    &.mixitup-control-active {
      font-size: 20px;
      line-height: 1.2;
      color: $bg;
      background-color: $orange;

      svg {
        fill: $bg;
      }

      @include mq('tablet-2') {
        font-size: 14px;
      }
    }

    @include mq('desktop') {
      font-size: 16px;
      padding: 12px 24px;
    }

    @include mq('tablet-2') {
      font-size: 14px;
      padding: 11px 16px;
    }
  }

  &__content {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;

    @include mq('tablet-2') {
      grid-gap: 10px 5px;
      margin-bottom: 25px;
      grid-template-columns: repeat(4, 1fr);
    }

    @include mq('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq('phone') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__link {
    @include mq('phone') {
      font-size: 20px;
      padding-left: 23px;
    }
  }
}

.product-card {
  padding: 20px 15px 27px;
  max-width: 210px;
  width: 100%;
  height: 100%;
  height: 300px;
  background-color: $bg;
  box-shadow: 0 0 0 1px $silver-200;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  &__img {
    margin: 0 auto 10px;
    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  &__inner {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 66px;
    height: 100%;
  }

  &__title {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: $dark;
    @include line-clamp(2);
  }

  &__price {
    display: block;
    color: $darkblue;
    font-weight: 500;
    line-height: 1.4;
    margin-top: auto;

    @include mq('phone') {
      font-size: 15px;
    }
  }

  &__btn {
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $orange;
  }
}

.features {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 70px;

    @include mq('tablet') {
      margin-right: 0;
    }

    @include mq('phone') {
      margin-left: 0;
    }
  }

  &__img {
    width: 440px;
    height: 585px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    z-index: -1;

    @include mq('tablet-2') {
      background-size: contain;
      position: absolute;
      left: 0;
      opacity: 0.3;
      height: 50%;
    }

    @include mq('tablet') {
      height: 462px;
    }

    @include mq('phone') {
      width: 100%;
    }
  }

  &__content {
    max-width: 470px;
    width: 100%;
    z-index: 1;
    margin-left: auto;

    @include mq('tablet') {
      max-width: 100%;
    }
  }

  &__title {
    text-align: start;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(4);

    @include mq('tablet') {
      font-size: 16px;
    }
  }

  &__items {
    margin-bottom: 30px;
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    span {
      display: block;
      padding-left: 64px;

      @include mq('phone') {
        padding-left: 48px;
      }
    }

    &::before {
      @include pseudo;
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;

    }

    &--time {
      &::before {
        background-image: url('../images/icons-main/icon-timer.svg');
      }
    }

    &--delivery {
      &::before {
        background-image: url('../images/icons-main/icon-delivery.svg');
      }
    }

    &--restorant {
      &::before {
        background-image: url('../images/icons-main/icon-restorant.svg');
      }
    }

    @include mq('tablet') {
      font-size: 18px;
    }
  }

  &__btn {
    padding: 8px 30px;

    @include mq('phone') {
      font-size: 14px;
      padding: 12px 32px;
    }
  }
}

.restaurants {
  &__title {
    @include mq('phone-1') {
      padding-left: 24px;
      padding-top: 10px;
    }
  }

  &__list {
    display: grid;
    // justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include mq('desktop') {
      grid-template-columns: repeat(2, 1fr);
      // justify-items: center;
    }

    @include mq('tablet') {
      // grid-template-columns: repeat(1, 1fr);
      // justify-items: flex-start;
      // left: 50%;
      // transform: translateX(-50%);
      //не центрируется, если центрирцется то потом некорректно работает слайдер при меньших размерах
      margin-bottom: 85px;
    }

    @include mq('tab-sl') {
      grid-template-columns: repeat(1, 1fr);
    }

    .slick-dots {
      position: absolute;
      bottom: -53px;
      display: inline-flex;
      left: 50%;
      transform: translateX(-50%);

      li {
        width: 15px;
        height: 15px;
        font-size: 0;
        background-color: $gray;
        border-radius: 50%;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      .slick-active {
        background-color: $orange;
      }
    }
  }

  @include mq('tablet-2') {
    padding: 0;
    margin-bottom: 85px;
  }
}

.restaurant-card {
  background-color: $bg;
  box-shadow: 0 3px 3px $bs-4;
  border-radius: 10px;
  max-width: 370px;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s;

  @include mq('tab-sl') {
    max-width: 100%;
  }

  &:hover {
    box-shadow: 0 3px 15px $bs-3;
  }

  &__img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;

    @include mq('tab-sl') {
      width: 100%;
    }
  }

  &__wrapper {
    padding: 15px 20px 20px;
  }

  &__title {
    font-size: 24px;
    color: $dark;
    margin-bottom: 20px;
    font-weight: 400;
    @include line-clamp(1);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
    color: $dark;
  }

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 27px;
    position: relative;

    &::before {
      @include pseudo;
      top: 2px;
      left: 0;
      width: 22px;
      height: 22px;
      background-image: url('../images/icons-main/icon-card-timer.svg');
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 79px;
    height: 33px;

    svg {
      transition: transform 0.5s;
    }

    &:hover {
      svg {
        transform: translateX(20px);
      }
    }
  }
}

.reviews {
  @include mq('tablet-2') {
    padding: 0;
    margin-bottom: 40px;
  }

  &__slider {
    max-width: 990px;
    margin: 0 auto;

    .slick-dots {
      display: inline-flex;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      z-index: 0;

      li {
        display: block;
        line-height: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $gray;
        font-size: 0;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      .slick-active {
        background-color: $orange;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @include mq('tablet-2') {
      display: block;
      margin-bottom: 0;
    }
  }

  &__img {
    border-radius: 300px;
    margin-right: 40px;
    object-fit: cover;

    @include mq('tablet-2') {
      margin: 0 auto 20px;
    }

    @include mq('tablet') {
      width: 25%;
      height: 25%;
    }

    @include mq('phone') {
      width: 20%;
      height: 20%;
    }

    @include mq('phone-1') {
      width: 32%;
      height: 32%;
    }
  }

  &__quote {
    padding: 0 40px;
    max-width: 650px;
    max-height: 385px;
    height: 100%;

    @include mq('tablet-2') {
      margin: 0 auto;
    }
  }

  &__block {
    line-height: 1.5;
    font-style: italic;
    color: $dark;
    margin-bottom: 30px;
    position: relative;

    @include mq('tablet-2') {
      margin-bottom: 20px;
    }

    @include mq('tablet') {
      font-size: 14px;
    }

    &::before,
    &::after {
      @include pseudo;
      width: 24px;
      height: 19px;
    }

    &::before {
      left: -40px;
      top: -4px;
      background-image: url('../images/icons-main/icon-quote.svg');
    }

    &::after {
      right: -40px;
      bottom: 0;
      background-image: url('../images/icons-main/icon-quote.svg');
      transform: rotateY(180deg);
    }
  }

  &__cite {
    color: $orange;
    font-style: normal;
    font-weight: 500;

    @include mq('tablet-2') {
      font-size: 16px;
    }

    span {
      display: block;
      padding-top: 15px;
      color: $dark;
      font-weight: 400;
      font-size: 14px;

      @include mq('tablet-2') {
        padding-top: 10px;
      }
    }
  }


  .reviews-arrow {
    content: "";
    position: absolute;
    bottom: -9px;
    z-index: 1;
    background-color: $bgc-1;
    border: 3px solid $gray;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    line-height: 0;
    font-size: 0;
    padding: 4px 10px;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;

    &__prev {
      right: 57%;
      transform: rotateY(180deg);

      @include mq('tablet-2') {
        left: 13%;
      }

      @include mq('tablet') {
        left: 12%;
      }
    }

    &__next {
      right: 39%;

      @include mq('tablet-2') {
        right: 13%;
      }

      @include mq('tablet') {
        right: 5%;
      }
    }

    &:focus {
      background-color: $bgc;
      border: 3px solid $gray;
      box-shadow: 0 0 0 2px $bs;
    }

    &:hover {
      background-color: #FFF2ED;
      border: 3px solid #FFAE94;

      svg {
        fill: #FFAE94;
        stroke: #FFAE94;
      }
    }

    &:active {
      background-color: #FFF2ED;
      border: 3px solid #FFF2ED;

      svg {
        fill: $orange-2;
        stroke: $orange-2;
      }
    }

    @include mq('tablet-2') {
      top: 125px;
    }

    @include mq('tablet') {
      top: 45px;
    }

    @include mq('phone') {
      top: 32px;
    }
  }


  .slick-disabled {
    border: 3px solid $orange-2;

    svg {
      fill: $orange-2;
      stroke: $orange-2;
    }
  }
}

.app {
  padding-top: 75px;

  @include mq('tablet-2') {
    padding: 0;
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet') {
      display: block;
    }
  }

  &__content {
    max-width: 540px;
    width: 100%;
    margin-right: 60px;

    @include mq('desktop') {
      margin-right: 10px;
      width: 80%;
    }

    @include mq('tablet') {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  &__title {
    text-align: start;

    @include mq('tablet') {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(4);

    @include mq('tablet') {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__link {
    display: inline-block;
    line-height: 2;
    width: 100%;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center center;

    &--app {
      width: 120px;
      background-image: url('../images/icons-main/icon-app-store.svg');
      background-size: 120px 40px;
      margin-right: 30px;
    }

    &--google {
      width: 135px;
      background-image: url('../images/icons-main/icon-google-store.svg');
      background-size: 135px 40px;
    }
  }

  &__img {
    width: 570px;
    height: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;

    @include mq('desktop') {
      width: 80%;
    }

    @include mq('tablet') {
      display: none;
    }
  }
}

.footer {
  padding-top: 60px;

  @include mq('tablet-2') {
    padding-top: 0;
  }
}


.footer-top {
  padding-bottom: 60px;
  margin-right: 70px;
  display: flex;

  @include mq('desktop') {
    margin-right: 0;
    padding-bottom: 30px;
  }

  @include mq('tablet-2') {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @include mq('phone-1') {
    justify-content: flex-start;
  }

  &__form-inner {
    margin-right: 70px;

    @include mq('desktop') {
      margin-right: 25px;
    }

    @include mq('tablet-2') {
      margin-right: 0;
      margin-bottom: 28px;
      padding: 0 15px 0;
    }

    @include mq('phone-1') {
      padding: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    @include mq('phone') {
      margin-bottom: 46px;
    }
  }

  &__logo-img {
    @include mq('phone') {
      width: 200px;
      height: 39px;
    }
  }

  &__form {
    max-width: 200px;
    width: 100%;
  }

  &__form-input {
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: $bg;
    padding: 13px 14px;
    font-size: 14px;
    height: 44px;
    max-width: 200px;
    width: 100%;
    margin-bottom: 12px;
    transition: box-shadow 0.5s, background-color 0.5s, fill 0.5s, color 0.5s;

    &::placeholder {
      color: $gray;
      opacity: 0.9;
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange;
      border: 1px solid transparent;
    }

    &:hover {
      &::placeholder {
        color: $darkblue;
      }
    }
  }

  &__form-btn {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    height: 44px;
    padding: 13px 38px;
    max-width: 200px;
    width: 100%;

    svg {
      margin-right: 15px;
      width: 15px;
      height: 14px;
    }

    path {
      fill: $bg;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    max-height: 175px;
    height: 100%;
    width: 100%;
    max-width: 571px;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 3;
    gap: 0 70px;
    margin-right: 70px;

    @include mq('desktop') {
      gap: 0 15px;
      margin-right: 25px;
    }

    @include mq('tablet-2') {
      order: 2;
      margin-right: 0;
      padding-top: 30px;
    }

    @include mq('tablet') {
      display: block;
      max-height: 100%;
    }

    @include mq('phone') {
      column-count: 2;
    }

    @include mq('phone-1') {
      column-count: 1;
    }
  }

  &__item-link {
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
    color: $dark;

    @include mq('phone') {
      margin-bottom: 19px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__address-inner {
    width: 195px;

    @include mq('tablet-2') {
      order: 1;
      margin-right: 0;
      padding: 0 15px;
    }

    @include mq('phone-1') {
      padding: 0;
    }
  }
}

.address {
  &__item {
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 2;
    color: $dark;

    svg {
      padding-right: 7px;
    }
  }
}

.social {
  display: flex;
  margin: auto 0;

  &__list {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: $silver-200;
    transition: box-shadow 0.5s, background-color 0.5s, fill 0.5s;

    &:focus {
      background-color: #fff2ed;
      box-shadow: 0 0 0 2px $bs;
    }

    &:hover {
      background-color: $orange-2;

      svg {
        fill: $bg;
      }
    }

    &:active {
      background-color: #fff2ed;

      svg {
        fill: $orange-2;
      }
    }
  }
}

.footer-bottom {
  padding: 23px 0 30px;
  text-align: center;
  border-top: 1px solid rgb(194, 194, 194, 0.2);

  @include mq('phone-1') {
    padding: 15px 0 20px 25px;
  }

  &__text {
    font-size: 14px;
    line-height: 1;
    color: $dark;
  }
}

.mobil-menu,
.filters-open {
  display: none;
  background-color: $bg;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 15px;
  overflow-y: auto;
  color: $dark;
  
  &--active {
    display: block;

    .menu-list {
      display: block;
    }
  }

  &__top {
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid $gray;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    transform: translateY(0);
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
    margin-right: 0;
  }

  &__box {
    border-bottom: 1px solid $gray;
  }

  &__menu {
    font-size: 18px;
    line-height: 1.2;
  }

  &__address {
    padding: 15px 0 0;
    margin: 0;
    width: 100%;
  }
}

.mobil-burger,
.filters-open__burger {
  @include burger;
  height: 40px;
  width: 40px;
  z-index: 1;
  border-radius: 5px;

  &__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  &::before {
    width: 23px;
    transform: rotate(45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::after {
    width: 23px;
    transform: rotate(-45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &:hover {
    background-color: $bgo;
  }

  @include mq('tablet') {
    &:active {
      background-color: $bgo;
    }
  }
}

.filters-open {
  &__top {
    padding: 20px 0;
    border: none;
  }

  &__inner {
    display: flex;
    justify-content: end;
  }

  &__box {
    display: block;
  }
}

.header-page {
  padding-bottom: 0;
  &__top {
    @include mq('tablet-2') {
      padding: 14px 0;
    }

    @include mq('phone-1') {
      margin: 0;
    }
  }
}
.catalog-title {
  &__inner {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet-2') {
      margin-bottom: 23px;
    }

    @include mq('tablet') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__box {
    display: flex;

    @include mq('phone-1') {
      font-size: 14px;
    }
  }

  &__btn {
    display: none;

    @include mq('tablet') {
      display: block;
      margin-right: 10px;
    }
  }

  &__title {
    margin-bottom: 0;

    @include mq('tablet') {
      margin-bottom: 20px;
    }
  }

  &__filter-name {
    margin-right: 15px;

    @include mq('tablet') {
      margin-right: 10px;
    }

    @include mq('phone-1') {
      max-width: 139px;
    }
  }

  &__filter-num {
    @include mq('phone-1') {
      max-width: 82px;
    }
  }

}

.catalog {
  &__app {
    padding-top: 60px;

    @include mq('tablet-2') {
      padding-top: 0;
    }

  }

  &__restaurants {
    @include mq('phone-1') {
      margin-bottom: 95px;
    }
  }

  &__restaurants-title {
    text-align: start;
    margin-bottom: 60px;

    @include mq('tablet-2') {
      margin-bottom: 40px;
    }

    @include mq('phone-1') {
      padding-top: 0;
      text-align: center;
    }
  }

  &__restaurants-link {
    font-size: 24px;
    color: $dark;
    @include line-clamp(2);
  }

  &__restaurants-wrapper {
    padding: 15px 20px;
  }

  &__inner {
    display: flex;
  }

  &__content {
    width: 100%;
  }

  &__list {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @include mq('desktop') {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 5px;
    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
    }

    @include mq('tablet-2') {}
  }

  .select-style {
    &:focus-visible {
      outline: transparent;
    }

    &.select:not(:-internal-list-box) {
      overflow: hidden !important;
    }
  }

  select:not(:-internal-list-box) {
    overflow: hidden !important;
  }

  .jq-selectbox__select {
    height: 47px;
    width: 100%;
    padding: 15px 41px 15px 14px;
    background: $bg;
    border: 1px solid $gray;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: Rubik;
    color: $dark;
    text-shadow: none;

    &:focus-visible {
      outline: transparent;
    }

    &:focus {
      border-color: $orange;
    }

    &:hover {
      border-color: $orange;
      color: $orange;
    }

    &:active {
      border-color: $gray;
      color: $gray;
    }

    @include mq('phone-1') {
      padding: 15px 33px 15px 10px;
    }

  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    content: "";
    top: 17px;
    right: 15px;
    width: 12px;
    height: 10px;
    border: none;
    // background-image: url('../images/sprite.svg#icon-chevron.svg');
    background-image: url(../images/sprite.svg#icon-chevron);
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-position: center;
    // stroke: red;
    // fill: red;

    // svg {
    //   stroke: red;
    //   fill: red;
    // }
    @include mq('phone-1') {
      right: 9px;
    }
  }

  .jq-selectbox__trigger {
    border: none;
  }

  .jq-selectbox .placeholder {
    color: $dark;
  }

  .jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top-color: transparent;
  }

  .jq-selectbox__dropdown:focus-visible {
    outline: transparent;
  }

  .jq-selectbox li.selected {
    background-color: $bg;
    color: $orange;
  }

  .jq-selectbox li:hover {
    background-color: $orange-2;
    color: $bg;
  }

  // .jq-selectbox:focus-visible {
  //   outline: transparent;
  // }

  // .select:focus-visible {
  //   outline: transparent;
  // }
  @include mq('tablet-2') {
    padding: 0;
  }

  .page-2 {
    @include mq('tablet') {
      display: none;
    }
  }
}

.filters {
  &__inner {
    margin-right: 30px;

    @include mq('tablet') {
      display: none;
    }
  }

  &__item {
    background-color: $bg;
    width: 270px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: $dark;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: $darkblue;
    padding: 15px;
    border-bottom: 1px solid $silver-200;
  }
}

.filter-categories {
  &__form {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-categories__checkbox {
      color: $orange;
    }
  }

  &__checkbox {
    text-decoration: none;
    line-height: 1.2;
    color: $dark;
  }
}

.filter-offer {
  &__form {
    padding: 25px 15px;
  }

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:focus+.filter-offer__checkbox {
      border: 1px solid $orange;
    }

    &:hover+.filter-offer__checkbox {
      border: 1px solid $orange;

      &+.filter-offer__text {
        color: $orange;
      }
    }

    &:checked+.filter-offer__checkbox {
      border: 1px solid $darkblue;
      background-color: $bgp;
      background-image: url(../images/icons-main/icon-chevron-checked.svg);
      background-repeat: no-repeat;
      background-position: center center;

      path {
        fill: $darkblue;
      }
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background-color: $bgp;
    border: 1px solid $silver-200;
    border-radius: 3px;
  }

  &__text {
    line-height: 1.2;
  }
}

.filter-price {
  &__form {
    padding: 25px 15px;
    height: 134px;
    position: relative;
  }

  &__label {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
    color: $gray;
  }

  &__item {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  &__from,
  &__to {
    width: 70px;
    height: 40px;
    padding-top: 12px;
    font-size: 16px;
    line-height: 1;
    color: $dark;
    background-color: $bgp;
    border: 1px solid $bgp;
    border-radius: 3px;
    margin: 0 3px;

    &:focus {
      border: 1px solid $orange;
    }
  }

  .irs--flat {
    transform: translateY(40px);
  }

  .irs--flat .irs-line {
    top: 35px;
    height: 2px;
    background-color: $gray;
  }

  .irs--flat .irs-bar {
    top: 35px;
    height: 2px;
    background-color: $orange;
  }

  .irs--flat .irs-handle {
    top: 27px;
    width: 18px;
    height: 18px;
    background-color: $orange;
    border-radius: 50%;
  }

  .irs--flat .irs-handle>i:first-child {
    display: none;
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }

  .irs--flat .irs-from,
  .irs--flat .irs-to,
  .irs--flat .irs-single {
    display: none;
  }
}

.app-catalog {
  padding-top: 60px;
}