@import 'fonts';
@import 'reset';
@import 'vars';
@import 'libs';
@import 'global';
@import 'mixin';

.header {
  padding-bottom: 60px;

  &__top {
    padding: 50px 3px 45px 5px;
  }
  &__logo{
    margin-right: auto;
  }
}

.logo {
  border-radius: 5px;
  transition: box-shadow 0.5s, opacity 0.5s;

  &:focus {
    box-shadow: 0 0 0 2px $bs;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu {
  display: flex;
  
  &__inner {
    display: flex;
  }
}
.menu-list{
  display: flex;
  font-size: 18px;
  line-height: 1.2;
  &__item {
    margin-right: 45px;
    padding: 10px 0;
  }

  &__link {
    text-decoration: none;

  }

  &__link--active {
    color: $orange;
  }
}
.menu-btn{
  display: flex;
  
  &__btn {
    width: 44px;
    height: 44px;
    margin: 0 6px;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;

    &:last-child {
      margin-right: 0;
    }

    span {
      position: absolute;
      top: 2px;
      right: 2px;
      padding: 2px 4px;
      background-color: $orange;
      color: $bg;
      font-size: 10px;
      line-height: 1.2;
      height: 14px;
      border-radius: 50%;
      display: block;
      }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px $bs;
    }

    &:hover {
      background-color: $orange-2;
      stroke: $bg;

      path {
        fill: $orange-2;
        stroke: $bg;
      }

      ellipse {
        stroke: $bg;
      }

      span {
        background-color: $bg;
        color: $orange-2;
      }
    }

    &:active {
      background-color: #FFF2ED;
    }
  }
}

.header-content {
  &__inner {
    height: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 450px;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 20px;
    span{
      color: $orange;
    }
  }

  &__text {
    line-height: 1.5;
    color: $dark;
    margin-bottom: 20px;
    @include line-clamp(5);
  }

  &__btn {
    margin-right: 24px;
    padding: 12px 32px;
  }
}

.categories {
  padding-top: 66px;
  &__title{
    margin-bottom: 61px;
  }
  &__filter {
    display: flex;
    white-space: nowrap;
    margin-bottom: 45px;
  }

  &__btn {
    padding: 12px 30px;
    &:not(:last-child){
      margin-right: 21px;
    }
  }

  &__mixitup-control-active {
    font-size: 20px;
    line-height: 1.2;
    color: $bg;
    background-color: $orange;

    path {
      fill: #fff;
    }
  }

  &__btn-link {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  &__content {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  &__link{
    display: block;
    text-align: center;
  }
}

.product-card{
  padding: 20px 15px 27px;
  max-width: 210px;
  width: 100%;
  height: 100%;
  background-color: $bg;
  box-shadow: 0 0 0 1px $silver-200;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  &__img{
    margin: 0 auto 10px;
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  &__title{
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: $dark;
    max-height: 66px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__price{
    display: block;
    color: $darkblue;
    font-weight: 500;
    line-height: 1.4;
    margin-top: auto;
  }
  &__btn{
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $orange;
  }
}

.features{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 70px;
  }
  &__content{
    max-width: 470px;
    width: 100%;
    
  }
  &__title{
    text-align: start;
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 30px;
    @include line-clamp(3);
  }
  &__items{
    margin-bottom: 30px;
  }
  &__item{
    font-size: 24px;
    line-height: 1.5;
    position: relative;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    span{
      display: block;
      padding-left: 64px;
    }
  }
  &__item--time{
    &::before{
      @include pseudo;
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;  
      background-image: url('../images/icons-main/icon-timer.svg');
    }
  }
  &__item--delivery{
    &::before{
      @include pseudo;
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;  
      background-image: url('../images/icons-main/icon-delivery.svg');
    }
  }
    &__item--restorant{
    &::before{
      @include pseudo;
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;  
      background-image: url('../images/icons-main/icon-restorant.svg');
    }
  }
  &__btn{
    padding: 8px 30px;
  }
}
.restaurants{
  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
.restaurant-card{
  background-color: $bg;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 370px;
  width: 100%;
  transition: box-shadow 0.5s;
  &:hover{
    box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
  }
  &__img{
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
  }
  &__title{
    padding-left: 20px;
    font-size: 24px;
    color: $dark;
    margin-bottom: 20px;
    font-weight: 400;
  }
  &__inner{
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__time{
    padding-left: 32px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
    color: $dark;
    position: relative;
    &::before{
      @include pseudo;
      top: 4px;
      left: 0;
      width: 22px;
      height: 22px;  
      background-image: url('../images/icons-main/icon-card-timer.svg');
    }
  }
  &__btn{
    border-radius: 20px;
    width: 79px;
    height: 33px;
    position: relative;
    &::before{
      @include pseudo;
      top: 9px;
      right: 30px;
      width: 14px;
      height: 12px;  
      background-image: url('../images/icons-main/icon-arrow-right.svg');
      transition: transform 0.5s;
    }
    // &:hover{
    //   &::before{
    //     transform: translateX(20px);
    //     svg{
    //       path{
    //         fill: #ff6838;
    //       } не окрашивает svg
    //     }
    //   }
    // }
  }
}
.reviews{
  &__slider{
    max-width: 990px;
    margin: 0 auto;
  }
  &__inner{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }
  &__img{
    border-radius: 300px;
    margin-right: 40px;
  }
  &__quote{
    padding: 0 40px;
    max-width: 650px;
    max-height: 385px;
    height: 100%;
  }
  &__block{
    line-height: 1.5;
    font-style: italic;
    color: $dark;
    margin-bottom: 30px;
    position: relative;
    &::before{
      @include pseudo;
      top: -4px;
      left: -40px;
      width: 24px;
      height: 19px;  
      background-image: url('../images/icons-main/icon-quote.svg');
    }
    &::after{
      @include pseudo;
      bottom: 0;
      right: -40px;
      width: 24px;
      height: 19px;  
      background-image: url('../images/icons-main/icon-quote.svg');
      transform: rotateY(180deg);
    }
  }
  &__cite{
    color: $orange;
    font-style: normal;
    font-weight: 500;
    span{
      display: block;
      padding-top: 15px;
      color: $dark;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.slick-dots{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  li{
    display: block;
    line-height: 0;
    padding: 5px;
    &:not(:last-child){
      margin-right: 5px;
    }
    button{      
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $gray;
      font-size: 0;
      &.slick-active {
        background-color: $orange;
        //не окрашиваются
      }
    }
  }
}

.slick-arrow{
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -5px;
  background-image: url(../images/icons-main/icon-chevron.svg);
  background-repeat: no-repeat;
  background-size: 18px 11px;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.01);
  border: 3px solid $gray;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 0;
  font-size: 0;
  &.slick-prev{
    right: 57%;
    transform: rotateY(180deg);
  }
  &.slick-next{
    right: 39%;
  }  
}

.app{
  padding-top: 75px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    max-width: 540px;
    width: 100%;
    margin-right: 60px;
  }
  &__title{
    text-align: start;
  }
  &__text{
    margin-bottom: 30px;
    @include line-clamp(4);
  }
  &__link{
    display: inline-block;
    line-height: 2;
    width: 100%;
    color: $default;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__link-app{
    max-width: 120px;
    background-image: url('../images/icons-main/icon-app-store.svg');
    background-size: 120px 40px;
    margin-right: 30px;
  }
  &__link-google{
    max-width: 135px;
    background-image: url('../images/icons-main/icon-google-store.svg');
    background-size: 135px 40px;
  }
}

.footer {
  padding-top: 60px;
}

.footer-top {
  padding-bottom: 60px;
  display: flex;
  &__form-inner{
    margin-right: 70px;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__form {
    max-width: 200px;
    width: 100%;
  }

  &__form-input {
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: $bg;
    padding: 13px 14px;
    font-size: 14px;
    height: 44px;
    max-width: 200px;
    width: 100%;
    margin-bottom: 12px;
    transition: box-shadow 0.5s, background-color 0.5s, fill 0.5s, color 0.5s;

    &::placeholder {
      color: #c2c2c2;
      opacity: 0.9;
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange;
      border: 1px solid $default;
    }

    &:hover {
      &::placeholder {
        color: $darkblue;
      }
    }
  }

  &__form-btn {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    height: 44px;
    padding: 13px 38px;
    max-width: 200px;
    width: 100%;

    svg {
      margin-right: 15px;
      width: 15px;
      height: 14px;
    }

    path {
      fill: $bg;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    max-height: 175px;
    height: 100%;
    width: 100%;
    max-width: 571px;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 3;
    gap: 0 70px;
    margin-right: 70px;
  }

  &__item-link {
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
  }
  &__link{
    text-decoration: none;
  }
}
.address{
  &__item {
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 2;
    svg{
      padding-right: 7px;
    }
  }
}
  
.social {
  display: flex;
  margin: auto 0;
  &__list{
    &:not(:last-child) {
      margin-right: 13px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: $silver-200;
    transition: box-shadow 0.5s, background-color 0.5s, fill 0.5s;

    

    &:focus {
      background-color: #fff2ed;
      box-shadow: 0 0 0 2px $bs;
    }

    &:hover {
      background-color: $orange-2;

      path {
        fill: $bg;
      }
    }

    &:active {
      background-color: #fff2ed;

      path {
        fill: $orange-2;
      }
    }
  }
}

.footer-bottom {
  padding: 23px 0 30px;
  text-align: center;
  border-top: 1px solid $gray;

  &__text {
    font-size: 14px;
    line-height: 1;
    color: $dark;
  }
}