<section class="app section">
  <div class="container">
    <div class="app__inner">
      <div class="app__content">
        <h2 class="app__title title">
          Скачайте мобильное приложение
        </h2>
        <div class="app__text text">
          <p>Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
            удобном месте.</p>
        </div>
        <a class="app__link app__link--app" href="#" target="_blank">.</a>
        <a class="app__link app__link--google" href="#" target="_blank">.</a>
      </div>
      <div class="app__img" style="background-image: url('images/bg-images/application-bg.jpg');">
        <span class="sr-only">сочная картинка с салатом и сотовым телефоном с приложением</span>
      </div>
    </div>
  </div>
</section>