<section class="categories section">
  <div class="container">
    <h2 class="categories__title title">Популярные категории</h2>

    <ul class="categories__filter">
      <li class="categories__btn">
        <button class="categories__btn-link button" type="button" data-filter=".burgers">
          <svg class="icon-categories">
            <use xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="categories__btn">
        <button class="categories__btn-link button" type="button" data-filter=".pizza">

          <svg class="icon-categories">
            <use xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="categories__btn">
        <button class="categories__btn-link button" type="button" data-filter=".sandwiches">

          <svg class="icon-categories">
            <use xlink:href="images/sprite.svg#icon-sandvich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="categories__btn">
        <button class="categories__btn-link button" type="button" data-filter=".asian">
          <svg class="icon-categories">
            <use xlink:href="images/sprite.svg#icon-asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="categories__btn">
        <button class="categories__btn-link button" type="button" data-filter=".sets">
          <svg class="icon-categories">
            <use xlink:href="images/sprite.svg#icon-dish"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>

    <ul class="categories__content">
      <li class="categories__item mix burgers sets sandwiches">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/1.jpg" width="140" height="140"
            alt="чизбургер с листьями салата">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Чизбургер с листьями салата
            </h3>
            <span class="product-card__price">160 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/2.jpg" width="140" height="140" alt="Бифбургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Бифбургер
            </h3>
            <span class="product-card__price">190 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers asian">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/3.jpg" width="140" height="140"
            alt="Королевский чизбургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Королевский чизбургер
            </h3>
            <span class="product-card__price">260 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers sandwiches">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/4.jpg" width="140" height="140"
            alt="Черный гамбургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Черный гамбургер
            </h3>
            <span class="product-card__price">199 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers asian">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/5.jpg" width="140" height="140"
            alt="Чикен бургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Чикен бургер
            </h3>
            <span class="product-card__price">180 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers sets asian">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/1.jpg" width="140" height="140"
            alt="чизбургер с листьями салата">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Чизбургер с листьями салата
            </h3>
            <span class="product-card__price">160 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers pizza">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/2.jpg" width="140" height="140" alt="Бифбургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Бифбургер
            </h3>
            <span class="product-card__price">190 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/3.jpg" width="140" height="140"
            alt="Королевский чизбургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Королевский чизбургер
            </h3>
            <span class="product-card__price">260 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers sets">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/4.jpg" width="140" height="140"
            alt="Черный гамбургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Черный гамбургер
            </h3>
            <span class="product-card__price">199 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burgers">
        <article class="product-card">
          <img class="product-card__img" src="images/categories/content/5.jpg" width="140" height="140"
            alt="Чикен бургер">
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Чикен бургер
            </h3>
            <span class="product-card__price">180 грн.</span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

    </ul>
    <a class="categories__link link" href="#">Показать еще</a>
  </div>
</section>