<section class="features section">
  <div class="container">
    <div class="features__inner">
      <div class="features__img" style="background-image: url('images/bg-images/delivery-bg.png');">
        <span class="sr-only">фотография доставки еды</span>
      </div>

      <div class="features__content">
        <h2 class="features__title title">
          Оставайтесь дома, <br>
          а мы позаботимся о еде
        </h2>
        <div class="features__text text">
          <p>У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо
            сейчас и получите
            скиидку!</p>
        </div>
        <ul class="features__items">
          <li class="features__item features__item--time">
            <span>Быстрая доставка за 15 минут</span>
          </li>
          <li class="features__item features__item--delivery">
            <span>Вежливые курьеры</span>
          </li>
          <li class="features__item features__item--restorant">
            <span>Более 500 заведений</span>
          </li>
        </ul>
        <a class="features__btn btn" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>