<footer class="footer" id="contacts">
  <div class="container">

    <div class="footer-top">

      <div class="footer-top__form-inner">
        <a class="logo footer-top__logo" href="#body">
          <img class="logo__img footer-top__logo-img" src="images/logo/logo.svg" width="200" height="39"
            alt="логотип компании">
        </a>
        <form class="footer-top__form" action="#">
          <label>
            <input class="footer-top__form-input" type="email" placeholder="Ваш email" required>
            <span class="sr-only">введите ваш email</span>
          </label>

          <button class="footer-top__form-btn btn" type="submit">
            <svg class="icon-telegram icon">
              <use xlink:href="images/sprite.svg#icon-telegram"></use>
            </svg>
            Подписаться
          </button>
        </form>
      </div>

      <ul class="footer-top__items">
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#hero">Как это работает</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link  link" href="#catalog.html">Продукты</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link  link" href="#catalog.html">Блюда</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link  link" href="#catalog.html">Меню</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#">О нас</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#">Новости</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#">Партнеры</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#">ЧаВо</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#app">Скачать приложение</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#">Блог</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#">Что нового?</a>
        </li>
        <li class="footer-top__item-link">
          <a class="footer-top__link link" href="#">Карта сайта
          </a>
        </li>
      </ul>

      <div class="footer-top__address-inner">

        <address class="address">
          <ul class="address__items">
            <li class="address__item address__item">
              <a class="address__link link" href="#">
                <svg class="icon-location">
                  <use xlink:href="images/sprite.svg#icon-location"></use>
                </svg>
                ул. Т.Г.Шевченко, 1
              </a>
            </li>
            <li class="address__item">
              <a class="address__link link" href="tel:+380501112233">
                <svg class="icon-call">
                  <use xlink:href="images/sprite.svg#icon-call"></use>
                </svg>
                380501112233
              </a>
            </li>
            <li class="address__item">
              <a class="address__link link" href="mailto:support@sfood.com">
                <svg class="icon-message">
                  <use xlink:href="images/sprite.svg#icon-message"></use>
                </svg>
                support@sfood.com
              </a>
            </li>
          </ul>
        </address>

        <ul class="social">
          <li class="social__list">
            <a class="social__link" href="#" target="_blank">
              <svg class="icon-facebook">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
              <span class="sr-only">ссылка на facebook</span>
            </a>
          </li>
          <li class="social__list">
            <a class="social__link" href="#" target="_blank">
              <svg class="icon-twitter">
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
              <span class="sr-only">ссылка на twitter</span>
            </a>
          </li>
          <li class="social__list">
            <a class="social__link" href="#" target="_blank">
              <svg class="icon-instagram">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only">ссылка на instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <span class="footer-bottom__text">© 2022 Simple Food</span>
  </div>

</footer>