<header class="header">


  <div class="header__top">
    <div class="container">



      <nav class="menu">
        <a class="header__logo logo" href="#">
          <img class="logo__img" src="images/logo/logo.svg" alt="логотип компании">
        </a>
        <div class="menu__inner">
          <ul class="menu-list">
            <li class="menu-list__item">
              <a href="#" class="menu-list__link link menu-list__link--active">Главная</a>
            </li>
            <li class="menu-list__item">
              <a href="#" class="menu-list__link link">Блюда</a>
            </li>
            <li class="menu-list__item">
              <a href="#" class="menu-list__link link">Контакты</a>
            </li>
          </ul>
          <ul class="menu-btn">
            <li class="menu-btn__item">
              <button class="menu-btn__btn" type="button">
                <svg class="icon-seach">
                  <use xlink:href="images/sprite.svg#icon-search"></use>
                </svg>
                <span class="sr-only">поиск по сайту</span>
              </button>
            </li>
            <li class="menu-btn__item">
              <button class="menu-btn__btn" type="button">
                <svg class="icon-cart">
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="menu-btn__btn-prefix">4</span>
                <span class="sr-only">корзина</span>
              </button>
            </li>
          </ul>
        </div>

        <button class="burger" type="button">
          <span class="burger__line"></span>
          <span class="sr-only">Открыть меню</span>
        </button>


      </nav>
    </div>
  </div>



  <div class="header-content">
    <div class="container">
      <div class="header-content__inner">
        <div class="header-content__info">
          <h1>
            <span class="sr-only">Главная страница сайта компании SimpleFood</span>
          </h1>
          <h2 class="header-content__title">
            Доставка
            <span>за 15 минут</span>
          </h2>
          <div class="header-content__text">
            <p>Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт</p>
          </div>
          <a class="header-content__btn btn" href="#">Заказать</a>
          <a class="header-content__link link" href="#">Подробнее</a>
        </div>
        <div class="header-content__img" style="background-image: url('images/bg-images/header-content-bg.png');">
          <span class="sr-only">фотография курьера</span>
        </div>
      </div>
    </div>
  </div>
</header>