<section class="restaurants section">
  <div class="container">
    <h2 class="title restaurants__title">Лучшие рестораны</h2>
    <ul class="restaurants__list">

      <li class="restaurants__link">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant-card/blaze.jpg" width="370" height="300"
            alt="фотография пиццы из Blaze Pizza">
          <div class="restaurant-card__wrapper">
            <h3 class="restaurant-card__title">Blaze Pizza</h3>
            <div class="restaurant-card__inner">
              <div class="restaurant-card__time-inner">
                <time class="restaurant-card__time" datetime="T11:00">11:00</time>
                -
                <time class="restaurant-card__time" datetime="T22:00">22:00</time>
              </div>
              <a class="restaurant-card__btn btn" href="#">
                <svg class="icon-arrow-right">
                  <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurants__link">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant-card/runcho.jpg" width="370" height="300"
            alt="фотография пиццы из Pizza Runcho">
          <div class="restaurant-card__wrapper">
            <h3 class="restaurant-card__title">Pizza Runcho</h3>
            <div class="restaurant-card__inner">
              <div class="restaurant-card__time-inner">
                <time class="restaurant-card__time" datetime="T12:00">12:00</time>
                -
                <time class="restaurant-card__time" datetime="T21:00">21:00</time>
              </div>
              <a class="restaurant-card__btn btn" href="#">
                <svg class="icon-arrow-right">
                  <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurants__link">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant-card/hut.jpg" width="370" height="300"
            alt="фотография пиццы из Pizza Hut">
          <div class="restaurant-card__wrapper">
            <h3 class="restaurant-card__title">Pizza Hut</h3>
            <div class="restaurant-card__inner">
              <div class="restaurant-card__time-inner">
                <time class="restaurant-card__time" datetime="T11:00">11:00</time>
                -
                <time class="restaurant-card__time" datetime="T22:00">22:00</time>
              </div>
              <a class="restaurant-card__btn btn" href="#">
                <svg class="icon-arrow-right">
                  <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                </svg>
              </a>
            </div>

          </div>
        </article>
      </li>

      <li class="restaurants__link">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant-card/mcd.jpg" width="370" height="300"
            alt="фотография бургера из McDonald`s">
          <div class="restaurant-card__wrapper">
            <h3 class="restaurant-card__title">McDonald`s</h3>
            <div class="restaurant-card__inner">
              <div class="restaurant-card__time-inner">
                <time class="restaurant-card__time" datetime="T6:00">06:00</time>
                -
                <time class="restaurant-card__time" datetime="T23:00">23:00</time>
              </div>
              <a class="restaurant-card__btn btn" href="#">
                <svg class="icon-arrow-right">
                  <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurants__link">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant-card/kfc.jpg" width="370" height="300"
            alt="фотография картофеля-фри и бургера из KFC">
          <div class="restaurant-card__wrapper">
            <h3 class="restaurant-card__title">KFC</h3>
            <div class="restaurant-card__inner">
              <div class="restaurant-card__time-inner">
                <time class="restaurant-card__time" datetime="T6:00">06:00</time>
                -
                <time class="restaurant-card__time" datetime="T23:30">23:30</time>
              </div>
              <a class="restaurant-card__btn btn" href="#">
                <svg class="icon-arrow-right">
                  <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                </svg>
              </a>
            </div>

          </div>
        </article>
      </li>

      <li class="restaurants__link">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant-card/star.jpg" width="370" height="300"
            alt="фотография бургера из Star Burgers">
          <div class="restaurant-card__wrapper">
            <h3 class="restaurant-card__title">Star Burgers</h3>
            <div class="restaurant-card__inner">
              <div class="restaurant-card__time-inner">
                <time class="restaurant-card__time" datetime="T9:00">09:00</time>
                -
                <time class="restaurant-card__time" datetime="T21:00">21:00</time>
              </div>
              <a class="restaurant-card__btn btn" href="#">
                <svg class="icon-arrow-right">
                  <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>