<section class="reviews section">
  <div class="container">
    <h2 class="title">Отзывы клиентов</h2>
    <div class="reviews__slider">

      <div class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="фотография клиентки">

          <figure class="reviews__quote">
            <blockquote class="reviews__block">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </blockquote>
            <cite class="reviews__cite">
              Дарья
              <span>Ценитель вкусной еды</span>
            </cite>
          </figure>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="фотография клиентки">

          <figure class="reviews__quote">
            <blockquote class="reviews__block">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </blockquote>
            <cite class="reviews__cite">
              Мария
              <span>Ценитель вкусной еды</span>
            </cite>
          </figure>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="фотография клиентки">

          <figure class="reviews__quote">
            <blockquote class="reviews__block">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </blockquote>
            <cite class="reviews__cite">
              Анна
              <span>Ценитель вкусной еды</span>
            </cite>
          </figure>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" src="images/reviews/1.jpg" width="300" height="300" alt="фотография клиентки">

          <figure class="reviews__quote">
            <blockquote class="reviews__block">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно рекомендую!
            </blockquote>
            <cite class="reviews__cite">
              Ольга
              <span>Ценитель вкусной еды</span>
            </cite>
          </figure>
        </div>
      </div>

    </div>
  </div>
</section>